# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives* :
- Programming languages in data science
- Libraries used in data science
- Data science tools
- Examples of evaluating arithmetic expressions in Python

Some of the best programming languages for Data Science are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Keras
3. sciPy
4. TensorFlow
5. SiKit-Learn

|Data Science Tools|
|--------------|
|Rstudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

 Example 1:

a=2
b=3
print(a+b)
5

Example 2:

a=4
b=2
print(a/b)
2.0

This a simple arithmetic expression to mutiply then add integers.

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [14]:
200 /60

3.3333333333333335

## Author

VISMAYA A K